<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      {{invoice.invoiceDate}} - {{invoice.invoiceAmount}}
    </div>
  </div>
  <div class="panel-body">
  </div>
</div>
