<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>{{name}}</h1>
    </div>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      {{#each model.attributes}}
      <dt>{{this.key}}:</dt>
      <dd>{{this.value}}</dd>
      {{/each}}
    </dl>
  </div>
</div>

{{#link-to 'customers.edit' model}}Change{{/link-to}}

{{outlet}}
