<div class="row">
  <div class="col-md-3">
    <h3>Customers</h3>
    <div class="list-group">
     {{#each model}}
     {{#link-to 'customer' this class="list-group-item"}}{{this.name}}{{/link-to}}</li>
      {{/each}}
    </div>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>